<mat-card>
  <div *ngIf = "!(authService.user | async)">
    <h3 style = "text-align: center;"><a routerLink = "/register">Register</a> or <a routerLink="/login">Login</a> to manage your reading list</h3>
  </div>

  <div *ngIf = "(authService.user  | async)">

<div id="quiz">
  <div *ngIf="mode === 'before'" class="row">
    <button
      class="nav-side"
      mat-raised-button
      (click)= "start()">
      Start Quiz
    </button>
    <div class="">
      <h3>Quiz Application</h3>
    </div>
    <div class="text-right">
      Select Quiz:
      <select [(ngModel)]="quizName" (change)="stop()">
        <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
      </select>
    </div>
  </div>
  <h2 *ngIf="mode === 'quiz' || mode === 'result'" class="text-center font-weight-normal">{{quiz.name}}</h2>
  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="row text-left options centralize-desktop">
        <div *ngFor="let option of question.options">
          <div class="option">
            <label class="font-weight-normal left" [attr.for]="option.id">
              <input class="hide" id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
              <span [ngClass]="{'selected': option.selected}" >
                <img [src]="option.src" alt="">
              </span>
            </label>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="answer(pager.index);">Send</button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>

  </div>

  <div *ngIf="mode=='answer' && quiz">
    <div class="{{ isCorrect(quiz.questions[pager.index]) ? 'success': 'error'}}">Your answer is {{isCorrect(quiz.questions[pager.index]) ? 'correct!' : 'wrong'}}.</div>
    <div class="info" *ngIf="isCorrect(quiz.questions[pager.index]) ">{{quiz.questions[pager.index].info}}</div>
    <div class="text-center">

      <button *ngIf="pager.index < pager.count - 1"  class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
      <button *ngIf="pager.index >= pager.count - 1" class="btn btn-primary" (click)="onSubmit();">Finish</button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>
  </div>

  <div class="result" *ngIf="mode=='result'">
    <h2>Quiz Result</h2>
    <h3>You answered {{getScore()}} out of {{pager.count}} questions</h3>
    <h2>And here are all of your scores</h2>
    <mat-table [dataSource]="scores">

      <ng-container cdkColumnDef="score">
        <mat-header-cell *cdkHeaderCellDef> Score </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.score}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="user">
        <mat-header-cell *cdkHeaderCellDef> User </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="quizName">
        <mat-header-cell *cdkHeaderCellDef> Quiz </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.quizName}} </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="['user','score', 'quizName']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['user','score', 'quizName']"></mat-row>
    </mat-table>

    <br><br>
    <button
      class="nav-side"
      mat-raised-button
      (click)= "toScores()">
      See all users scores
    </button>
    <button
      class="nav-side"
      mat-raised-button
      (click)= "mode = 'before'">
      Start new quiz
    </button>
  </div>
</div>
