<mat-card>
    <div *ngIf = "!(authService.user | async)">
        <h3 style = "text-align: center;"><a routerLink = "/register">Register</a> or <a routerLink="/login">Login</a> to manage your reading list</h3>
      </div>

  <div *ngIf = "(authService.user  | async)">
        <h1 style = "text-align: center;">Welcome {{(authService.user | async)?.displayName}} !</h1>

    <mat-table [dataSource]="scores">
      <ng-container cdkColumnDef="user">
        <mat-header-cell *cdkHeaderCellDef> User </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="score">
        <mat-header-cell *cdkHeaderCellDef> Score </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.score}} </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="['user','score']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['user','score']"></mat-row>
    </mat-table>

<br><br>
<button 
class="nav-side" 
mat-raised-button
(click)= "toQuiz()">
Start New Game
</button>
</div>
</mat-card>
